*.g.*
AsyncKata1/obj/*
AsyncKata1/bin/*
.vs/AsyncKata1/v15/*
WorkerLibrary/obj/*
WorkerLibrary/bin/*
*.exe
*.dll
*.pdb
.vs/AsyncKata1/DesignTimeBuild/.dtbcache

UnitTestProject/obj/*
UnitTestProject/bin/*
packages/*
